.confirmPop {
    font-size: 12px;
}
.confirmPop > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.popWrapper {
    width: 20%;
}
  