.prof_job_grid {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.prof_job_node {
  display: inline-block;
  padding: 1%;
}

.options_bar {
  margin: 0;
  padding-left: 1%;
  z-index: 10;
  position: sticky;
  top: 0;
}

.options_section {
  vertical-align: middle;
  display: inline;
  text-align: center;
}
