#sortTitle {
    position: relative;
    height: 30px;
    width: 200px;
    left: 35px;
    top: 10px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;
    color: #000000;
}

#checkboxText {
    position: relative;
    height: 25px;
    width: 200px;
    left: 20px;
    top: 0px;
    border-radius: nullpx;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 0px;
    color: #000000;
}