.left_frame {
  width: 15%;
  height: calc(100% + (136px));
  position: absolute;
  left: 0;
  background-color: whitesmoke;
  margin-right: auto;
}

.divider {
  width: 0.125%;
  height: calc(100% + (136px));
  position: absolute;
  left: 15%;
  background-color: black;
}
