.registerTag {
  margin: 10px auto;
  padding: 0px 15px;
}

.registerButton {
  display: inline-block;
  padding: 0px 35px;
  align-items: center;
  text-align: center;
}

.incorrect {
  color: "red";
}

.Title {
  font-size: 40px;
  margin: auto;
  max-width: 110px;
  align-items: center;
  text-align: center;
}

.login_form {
  align-items: center;
  margin-left: 100%;
  margin-right: 100%;
  display: inline-flex;
  flex-direction: column;
}

.login_title {
  font-size: xx-large;
  align-content: center;
}

.login_buttons {
  outline: none;
  border: none;
  margin: 20px;
  display: inline-block;
  line-height: 50px;
  padding: 0 50px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  background: #4272d7;
  border-radius: 5px;
}

.login_buttons button:hover {
  background: #3868cd;
}
