.profile-name {
    margin: -50px 10px;
    margin-left: 200px;
    font-size: 40px;
}

.profile-img {
    width: 200px;
    height:200px;
    margin-left: 5px;
    margin-top: -20px;
    border: 2px solid grey;
}

.profile-info {
    font-size: 25px;
}

.profile-otherinfo {
    display: grid;
    margin: -30px;
    margin-left: -300px;
    font-size: 40px;
}

.professional-box {
    margin: -20px -10px;
    margin-bottom: 10px;
    border: 2px solid grey;
    font-size: 20px;
}

.profile-ver {
    font-size: 25px;
    margin-left: -300px;
    margin-top: 50px;
}

.Ver-button {
    margin-top: -1000px;
    background-color: #4CAF50; 
    color: white;
    padding: 10px 15px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}