.form-container {
    width: 1000px;
    /*border: solid;*/
    align-items: center;
    text-align:center;
}

.form-group {
    margin: 25px 10px;
}

.registerType{
    text-align: center;
    font-size: 40px;
}

input[type='radio'] {
    width: 30px;
    height: 30px;
}
input[type='radio']:checked:after {
    background-color: green;
}
input {
    line-height: 50px;
    outline: none;
    border: none;
    background: #fafafa;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 15px;
}

.form-group label{
    display: inline-block;
    text-align: right;
    width: 150px;
}


.buttons button {
    outline:none;
    border:none;
    margin: 20px;
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    background: #4272d7;
    border-radius: 5px;
}

.buttons button:hover {
    background: #3868cd;
}